
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}
header {
    background-color: #4296e4;
    color: #fff;
    padding: 1rem 0;
    text-align: right;
    position: sticky;
    top: 0;
}
header ul {
    list-style: none;
    padding: 0;
}
header ul li {
    display: inline;
    margin: 0 15px;
}
header ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


#about {
    padding: 2rem;
    text-align: center;
    background-color: #0f0f0f;
    
}
.profile-pic {
    max-width: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}


#projects {
    padding: 2rem;
    text-align: center;
}
.projects {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.project img {
    max-width: 100%;
    border-radius: 4px;
}


#contact {
    padding: 2rem;
    background-color: #78b2e9;
    text-align: center;
}
form {
    max-width: 400px;
    margin: auto;
}
form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}
form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #4353e6;
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
.social-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}
h3{
    color:rgb(252, 252, 252);
}
    

